.futbolYa{
    background: url("img/futbolfondo.jpeg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.todo{
  display: none;
}
span{
  color:rgba(255, 0, 47, 0.7);
  font-size: larger;
  font-style: italic;
}
.derechaIn{
   margin-top: 50px;
   margin-bottom: 50px;
   float:right;
 }
.informacion{
   display:block;
   width:100%;
 }
 .infoI{
   float:left;
   width:65%;
 }
 .infoD{
   float:right;
   width:35%;
   margin-bottom: 15px;
 }
.row
{
  max-width:100%;
  text-align: center;
}
.reservaI{
  float:left;
  width:50%;
}
.reservaD{
  float:right;
  width:50%;
  text-align: center;
}
.inforr{
  display:none;
  background-color: rgb(16,54,69);
}
.table-responsive{
   background-color: rgb(16,54,69);
}
.imgCancha
{
  max-width:100px;
  padding:10px;
}
.reservas{
  display:inline-block;
}
.reserva{
  background-color: rgba(250,250,250,0.3);
  margin-bottom: 10px;
}
.buscar{
    background: url("img/futbolfondo1.jpeg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
.amarillo{
color:white;
font-family:'Cabin';
}
.rojo{
  color:rgba(255, 0, 47, 0.7);
  font-family: 'Lobster';
}

.blanco
{
  color:white;
}
.tit{
  text-align: center;
  padding-top: 10%;
  font-size:110px;
  color:rgba(255, 0, 47, 0.7);
  font-weight: bold;
  font-family: 'Lobster';
}
.subTit{
  padding-top: 10%;
  color:rgba(256,256,256, 0.9);
  text-align: justify;
  font-weight: bold;
  font-family:'Cabin';
}
.baja
{
  color:white;
  padding-top: 2.5%;
  font-size: 20px;
  text-align: center;
}
.loading{
  text-align: center;
  color: grey;
}
.centro{
  text-align:center;
  padding-top: 20%;
}
.derecha{
  padding-top: 2.5%;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}

.localidad{
  background-color: rgb(16,54,69);
}
.negro{
  color:black;
}
.puntaje{
  background-color: rgba(250,250,250,0.3);
  margin-bottom: 10px;
}
.primero{
  padding-top:8%;
  text-align: center;
  font-style: oblique;
 color:white;
 font-family: 'Lobster';
}

.btn-group{
  padding-top:5%;
  padding-left: 37%;
}

.loc{
  padding-top:5%;
  color:white;
}
.escribe
{
  text-align: center;
}

.escoge{
  color:white;
}
.butNeg{
  color:black;
}

ul li{
  color:white;
  float:left;
  margin: 20px 20px 20px 20px;
}

.infoReservas{
  color:white;
}
.inputText{
  color:black;
  text-align: center;
  max-width:150px;
}
#info{
  color:white;
  font-family: 'Lobster';
  padding-top:50px;
  padding-bottom: 50px;
}
.oculto{
  display: none;
}
.ve{
    color:rgba(255, 0, 47, 0.9);
    font-family: 'Lobster';
}

.ve:hover{
      color:rgba(16,54,69, 0.8);
}

.titulo{
  text-align: center; 
  color:white;
  font-family: 'Lobster';
  padding-bottom: 1%;

}
.goles{
  padding-left:20px;
  font-size:40px;
  font-weight: bold;
}
.agregar{
  margin-left:35px;
}
.equipo{
  padding-left:10px;
  font-size: 40px;
}

.derechaD{
  float:right;
  text-align:center;
}
.izquierda{
  float:left;
  text-align:center;
}
th,td{
  color:white;
}

.infoPartidos{
  padding-top:10%;
}

.reservaPartido{
  padding-top:35%;
  font-family:'Lobster';
  color:rgba(255, 0, 47, 0.7);
  font-size:35px;
  font-weight:bold;
  padding-left:50px;
}

.square-box{
width: 50%;
    overflow: hidden;
}



